{embed="_includes/header2"}

<main>
    <section id="home" class="parallax">
        <div class="auto-container center fixed">
            <h1>The creators of The Judge &amp; Jury and Tribal Underground</h1><br/>
            <h2>A Funktion One powered company</h2>
        </div>
    </section>
    <section id="services" class="">
        <div class="auto-container center">
            <div class="left">
                <h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cum sociis natoque penatibus et.
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque viverra mauris in aliquam sem fringilla ut. In arcu cursus euismod quis. Lectus nulla at volutpat diam ut venenatis tellus in
                </p>
                <p>
                    Sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque. Elit at imperdiet dui accumsan sit amet nulla facilisi. Pharetra pharetra massa massa ultricies mi quis hendrerit dolor magna. Ut porttitor leo a diam sollicitudin tempor id eu nisl. Phasellus faucibus scelerisque eleifend donec pretium. Duis at tellus at urna condimentum mattis. Blandit libero volutpat sed cras ornare. Pellentesque massa placerat duis ultricies lacus sed. Egestas sed tempus urna et pharetra pharetra massa. Vitae congue eu consequat ac felis donec et. Cras tincidunt lobortis feugiat vivamus at augue eget arcu. Consequat mauris nunc congue nisi vitae suscipit tellus mauris.
                </p>
            </div>
            <div class="right">

            </div>
        </div>
    </section>
</main>

{embed="_includes/footer2"}