{layout="site/main"}
<div class="home parallax">
    <div class="auto-container full flex start">
        <div class="box wtext">
            <h1>The creators of The Judge &amp; Jury and Tribal Underground</h1>
            <h2>A Funktion One powered company</h2>
            <a href="http://www.facebook.com/IntersonicProductions" target="_blank" class="homesocial" onClick="ga('send', 'event', { eventCategory: 'Homepage', eventAction: 'Click', eventLabel: 'Facebook'});" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/intersonicproductions" target="_blank" class="homesocial" onClick="ga('send', 'event', { eventCategory: 'Homepage', eventAction: 'Click', eventLabel: 'Instagram'});" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCxz0kfTbLrCDE3vAA7b2sLw" target="_blank" class="homesocial" onClick="ga('send', 'event', { eventCategory: 'Homepage', eventAction: 'Click', eventLabel: 'Youtube'});" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
</div>
<section class="dark">
    <div class="auto-container">
        <div class="box">
            
        </div>
    </div>
</section>