/* STRUCTURAL */

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    background-color: #161616;
}

nav{
    z-index: 5;
    width: 100%;
    position: fixed;
}

main{
    width: 100%;
    height: 100%;
    z-index: 4;
    position: absolute;
    top: 0;
}

.auto-container{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
}

.fixed {
    position: fixed;
    overflow: hidden;
    width:100% ;
    flex-wrap: wrap;
}

.center{
    justify-content: center;
    align-items: center;
}

.between{
    align-items: center;
    justify-content: space-between;
}

.start{
    align-items: center;
    justify-content: flex-start;
}

.top{
    align-items: flex-start;
}

/* NAV BAR  */

#navbar a{
    width: 15%;
    min-width: 77px;
    max-width: 77px;
    font-family: 'Staatliches',  Arial, Helvetica, cursive, sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-decoration: none;
    padding: 1.1%;
}

#navbar a:active, #navbar a:hover {
    
    font-size: 1.1em;
    transition: 1s;
}

#navbar .navLogo{
    width: 40%;
    min-width: 241px;
    max-width: 241px;
}

#navbar .navLogo img{
    max-width: 241px;
}

#desktopNav .icon{
    display: none;
}

.dropicon{
    font-size: 1.5em;
    margin-left: 5%;
    cursor: pointer;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: #fafafa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6%;
}

.pagenav{
    background-color: #161616;
    transition: 0.5s;
}

/* PARALLAXES */

.parallax{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover!important;
    background-position: center;
    padding: 7% 0%;
}

#home {
    background-image: url(/assets/images/backgrounds/pbg1.jpg);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
}

    #home h1, #home h2{
        max-width: 800px;
        width: 99%;
        text-align: center;
        color: #ffffff;
    }

    #home h1{
        padding-top: 10%;
        font-family: 'Staatliches',  Arial, Helvetica, cursive, sans-serif;
        font-size: 4em;
    }

    #home h2{
        font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: lighter;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 0.9em;
    }

    #home h2 > a{
        color: #ffffff;
        font-size: 3em;
        padding: 2%;
        text-decoration: none;
    }

    

/* SECTIONS */

#services{
    font-family: 'Montserrat', sans-serif;
    color: #161616;
    background-color:#ffffff;
    padding: 5% 0%; 
    z-index: 2;
    position: relative;
    box-shadow: 1px 1px 8px #dddddd;
    
}

    #services .left{
        width: 60%;
        margin: 0% 2%;
    }

        #services .left > h3{
            font-size: 1.39em;
            line-height: 150%;
            letter-spacing: 1px;
            font-weight: 500;
        }

        #services p{
            font-weight: 300;
            font-size: 1em;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 2px;
            line-height: 150%;
        }

    #services .right{
        width: 18%;
    }

        #services .right p:nth-child(odd){
            text-transform: uppercase;
            font-size: 1.05em;
        }


    .toppad{
        padding-top: 121px;
    }
/* TEXT */




/* MEDIA QUERIES */

@media only screen and (max-width:620px){

    #desktopNav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    #desktopNav a:not(.mobtop){
        display: none;
    }

    #navbar .navLogo{
        width: 90%!important;
    }

    #navbar .navLogo > img{
        max-width: 100%!important;
    }

    #desktopNav .icon{
        display: block;
        width: 10%;
    }
    .icon i{
        color: #ffffff;
        font-size: 22px;
        float: right;
    }

    
    #mySidenav a{
        width: 92%;
        font-size: 1.5em;
        line-height: 180%;
        text-decoration: none;
        transition: 0.3s;
        display: block;
        padding-left: 8%;
        padding-top: 2%;
        padding-bottom: 2%;
        color: #000000;
    }
    
    #mySidenav a:hover{
        background-color: #161616;
        color: #ffffff;
    }
    
    #mySidenav .closebtn{
        position: absolute;
        top: 0;
        right: 5%;
        font-size: 3em;
        text-align: right;
        color: #000000;
        line-height: 50%;
    }
    
    #mySidenav .closebtn:hover{
        background-color: #fafafa;
        color: #000000;
    }
    
    .sticky{
        background-color: #fafafa;
    }
}