</main>
{!--  Mobile navigation drop down  --}
<script>
    function mobileNav(){
        var x = document.getElementById('navlist');
        if (x.className === "end navi") {
            x.className += " show";
        } else {
            x.className = "end navi";
        }
    }
</script>
{!--  Mobile navigation drop down End --}

{!--  Adjusted navigation on scroll  --}
<script src="/assets/js/navigation.js"></script>
{!--  Adjusted navigation on scroll End --}

{!--  Jqeury CDN  --}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{!--  Jqeury CDN End --}

{!--  On scroll progress bar START  --}
    <script>
      document.addEventListener(
        "scroll",
        function() {
          var scrollTop =
            document.documentElement["scrollTop"] || document.body["scrollTop"];
          var scrollBottom =
            (document.documentElement["scrollHeight"] ||
              document.body["scrollHeight"]) - document.documentElement.clientHeight;
          scrollPercent = scrollTop / scrollBottom * 100 + "%";
          document
            .getElementById("_progress")
            .style.setProperty("--scroll", scrollPercent);
        },
        { passive: true }
      );
    </script>
{!--  On scroll progress bar END  --}


</body>
</html>