<nav id="navbar" class="flex">
    <div class="auto-container flex between">
        <div class="navleft">
            <a href="/">
                <img src="/assets/images/logos/hdlogo.png" alt="Intersonic Productions Logo"/>
            </a>
        </div>
        <div class="navright">
            <a href="javascript:void(0);" onclick="mobileNav()" id="hamburger"><i class="fas fa-bars"></i></a>
            <ul class="end navi" id="navlist">
                <li>
                    <div class="hovernav">
                        <a href="/services">Our services <i class="fas fa-angle-down"></i></a>
                        <div class="dropnav">
                            <ul class="flex center wrap">
                                <li>
                                    <a href="/services/#1">
                                        Service 1
                                    </a>
                                </li>
                                <li>
                                    <a href="/services/#2">
                                        Service 2
                                    </a>
                                </li>
                                <li>
                                    <a href="/services/#3">
                                        Service 2
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/events">Events</a>
                </li>
                <li>
                    <a href="/gallery">Gallery</a>
                </li>
                <li>
                    <a href="/contact">Contact us</a>
                </li>
                <li>
                    <a href="/about">About us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>