{embed="_includes/header"}


<!-- Intro Block - Homepage - Start -->
<section class="homeblock parallax">
    {embed="_includes/navbar"}

    <div class="auto-container">
        <div class="intro-body flex">
            <h1>Lorem Ipsum</h1>
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="/services"  onClick="ga('send', 'event', { eventCategory: 'Navabar', eventAction: 'Click', eventLabel: 'services'});">Our Services</a>
            <a href="/contact"  onClick="ga('send', 'event', { eventCategory: 'Homepage', eventAction: 'Click', eventLabel: 'contact'});"> Contact Us</a>
        </div>
    </div>

</section>
<!-- Intro Block - Homepage - End -->
    
<Section id="about">

    <div class="auto-container">
        <div class="about-container">
            <h2>Intersonic Productions</h2>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
        </div>
    </div>

</section>













{embed="_includes/footer"}

