{layout="site/main"}
<div class="home parallax">
    <div class="auto-container full flex start">
        <div class="box wtext">
            <h1>The creators of The Judge &amp; Jury and Tribal Underground</h1>
            <h2>A Funktion One powered company</h2>
            <a href="http://www.facebook.com/IntersonicProductions" target="_blank" class="homesocial" onClick="ga('send', 'event', { eventCategory: 'Homepage', eventAction: 'Click', eventLabel: 'Facebook'});" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/intersonicproductions" target="_blank" class="homesocial" onClick="ga('send', 'event', { eventCategory: 'Homepage', eventAction: 'Click', eventLabel: 'Instagram'});" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCxz0kfTbLrCDE3vAA7b2sLw" target="_blank" class="homesocial" onClick="ga('send', 'event', { eventCategory: 'Homepage', eventAction: 'Click', eventLabel: 'Youtube'});" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
</div>

<section class="flex center wrap">
    <div class="parallax fiftybox smallplx" style="background-image: url(/assets/images/backgrounds/setbg.jpg);">
        <div class="blocklink">
            <p>
                Our services
            </p>
            <a href="/">Lorem ipsum</a>
        </div>
    </div>
    <div class="parallax fiftybox smallplx" style="background-image: url(/assets/images/backgrounds/set2bg.jpg);">
        <div class="blocklink">
            <p>
                Contact us
            </p>
            <a href="/contact">Get in touch today</a>
        </div>
    </div>
</section>

<section class="dark">
    <div class="auto-container flex center wrap">
        <h2>Vitae purus faucibus ornare</h2>
        <div class="box">
            {embed="_includes/_compact-optin"}
        </div>
        <div class="box">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae purus faucibus ornare suspendisse sed nisi lacus sed viverra.
            </p>
        </div>
    </div>
</section>