/* JS STYLING */
#_progress {
    --scroll: 0%;
    background: linear-gradient(to right, rgb(250, 55, 1) var(--scroll), transparent 0);
    position: fixed;
    width: 100%;
    height: 5px;
    top: 0px;
    z-index: 100;
}

*{
    transition: 1s;
}

body,html,main{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #ffffff;
    display: block;
}

nav{
    width: 100%;
    height: 85px;
    padding-top: 5px;
    display: flex;
    position: fixed;
    z-index: 5;
    top: 0;
    display: block;
}

main{
    position: absolute;
    top: 0;
}

a{
    color: #ffffff;
    text-decoration: none;
}

h1{
    text-transform: uppercase;
    font-size: 2.4em;
    letter-spacing: 2.5px;
    line-height: 150%;
    text-shadow: 1px 1px 6px #161616;
}

h2{
    font-weight: normal;
    letter-spacing: 2px;
}

.auto-container{
    width: 95%;
    max-width: 1080px;
    margin: 0 auto;
}

.full{
    height: 100%;
}

.dark, .light{
    padding: 5% 0%;
}

.dark h2, .light h2{
    text-transform: uppercase;
    width: 100%;
}

.dark{
    background-color: #282828;
}

.light{
    background-color: #ffffff;
    color: #161616;
}

    /* Flexbox classes */

    .flex{
        display: flex;
        align-items: center;
    }

    .wrap{
        flex-wrap: wrap;
    }

    .between{
        justify-content: space-between;
    }

    .center{
        justify-content: center;
    }

    .start{
        justify-content: flex-start;
    }

    .end{
        justify-content: flex-end;
    }

    .box{
        width: 48%;
        max-width: 520px;
        margin: 1% 0%;
    }

    .fiftybox{
        width: 50%;
        min-width: 300px;
    }
    /* END Flexbox classes */

    /* Parallax */
    .parallax{
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size:cover!important;
        background-position: center;
    }

    .smallplx{
        background-size: contain;
    }
    /* END Parallax */

    
/* Navigation Styling Start */

    .navleft{
        width: 30%;
        max-width: 241px;
    }

        .navleft img{
            width: 100%;
            max-width: 230px;
        }

    .navright{
        width: 60%;
    }

        #hamburger{
            display:none;
            font-size: 2em;
            text-align: end;
        }

        .navright ul{
            list-style-type: none;
            display: inline-flex;
            width: 100%;
            padding: 0;
        }

        .navright ul > li{
            display: inline;
            margin: 0% 2%;
        }

        .navright ul > li a:hover{
            color: #fa3701;
        }

            .dropnav{
                
                position: absolute;
                z-index: 2;
                padding-top: 1%;
                display: none;
            }

                .dropnav ul{
                    background-color: #161616;
                    box-shadow: 1px 1px 10px #191919;
                    width: 300px;
                    border-radius: 8px;
                    padding: 4%;
                }

                    .dropnav ul > li{
                        display: block;
                        width: 100%;
                        margin: 2%;
                    }
            @media only screen and (min-width:756px){
                .hovernav:hover .dropnav{
                    display: block;
                }
            }

    .pagenav{
        background-color: #161616;
        box-shadow: 2px 0px 10px #111111;
        height: 71px;
    }


    
/* Navigation Styling End */

/* Homepage Styling */

.home{
    background-image: url(/assets/images/backgrounds/fumpbg.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    
}

.wtext{
    color: #ffffff;
}

.homesocial{
    font-size: 2em;
    padding: 2%;
    text-decoration: none;
}

.blocklink{
    padding: 10% 0%;
    display: block;
}

    .blocklink p, .blocklink a{
        text-align: center;
        text-shadow: 2px 2px 6px #161616;
        display: block;
        margin: 0 auto;
    }

    .blocklink p{
        padding: 4%;
        font-size: 2.1em;
        text-transform:uppercase;
    }

    .blocklink a{
        font-size: 1.2em;
    }


/* Homepage Styling End */

/* Events pages styling */

    .event{
        background-image: url(/assets/images/backgrounds/pbg1.jpg);
        background-position: top;
        background-size: 100%!important;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .previewblock{
        background-color:#ffffff;
        width: 70%;
        padding: 2%;
    }

    .previewblock > .date{
        height: 100%;
        width:100%;
        max-width: 100px;
        max-height: 100px;
        background-color: #161616;
    }

        .date > .day, .date > .month{
            width: 100%;
            color: #ffffff;
        }

        .date > .day{
            font-size:2.2em;
            text-align: center;
        }

        .date > .month{
            text-align: right;
        }

/* Events pages styling */


/* MEDIA QUERIES */

@media only screen and (max-width:775px){

    .navleft{
        width:90%;
    }


        .navleft img{
            max-width: 241px;
        }

    .navright{
        width: 10%;
    }

    #navlist{
        position: absolute;
        width: 300px;
        background-color: #161616;
        right: 6px;
        border-radius: 8px;
        padding: 3%;
        display: none;
    }

    #navlist li{
        width: 100%;
        display: block;
        margin: 4%;
        font-size: 1.5em;
    }

    #hamburger{
        display: block;
    }

    .show{
        display: block!important;
    }



    .dropnav{
        position: unset;
        padding: 0 18px;
        display: none;
        overflow: hidden;
    }

        .dropnav ul{
            border-radius: 0px;
            box-shadow:none;
            padding: 0;
            font-size: initial;
        }
    
    .hovernav:hover .dropnav{
        display: block;
    }

    .home{
        padding-top: 86px;
    }
}

@media only screen and (max-width:600px){
    .fiftybox{
        width: 100%;
    }
}


































