<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130604010-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130604010-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W2D2MQ7');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/assets/images/logos/is-blnk.png" type="image/x-icon">
    <title>Intersonic Productions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Heebo:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/style.css" />
    {!--  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/video.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/responsive.css" />  --}
    
</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2D2MQ7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    

    <nav id="navbar">
       
        <div class="auto-container center">

            <div id="desktopNav" class="auto-container center">
                <a href="javascript:void(0)" class="icon mobtop" id="burgers" onClick="openNav()"><i class="fas fa-bars"></i></a>
                <a href="#services" onClick="ga('send', 'event', { eventCategory: 'Navabar', eventAction: 'Click', eventLabel: 'Services'});">Services</a>
                <a href="#gallery" onClick="ga('send', 'event', { eventCategory: 'Navabar', eventAction: 'Click', eventLabel: 'Gallery'});">Gallery</a>
                <a href="#home" onClick="ga('send', 'event', { eventCategory: 'Navabar', eventAction: 'Click', eventLabel: 'Home'});" class="navLogo mobtop"><img src="/assets/images/logos/hdlogo.png" alt="Intersonci Productions"/></a>
                <a href="contact" onClick="ga('send', 'event', { eventCategory: 'Navabar', eventAction: 'Click', eventLabel: 'Contact'});">Contact</a>
                <a href="#media" onClick="ga('send', 'event', { eventCategory: 'Navabar', eventAction: 'Click', eventLabel: 'Media'});">Media</a>
            </div>

            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#services" onclick="closeNav()" onClick="ga('send', 'event', { eventCategory: 'Navabar', eventAction: 'Click', eventLabel: 'Services'});">Services</a>
                <a href="#gallery" onclick="closeNav()" onClick="ga('send', 'event', { eventCategory: 'Navabar', eventAction: 'Click', eventLabel: 'Gallery'});">Gallery</a>
                <a href="#contact" onclick="closeNav()" onClick="ga('send', 'event', { eventCategory: 'Navabar', eventAction: 'Click', eventLabel: 'Contact'});">Contact</a>
                <a href="#media" onclick="closeNav()" onClick="ga('send', 'event', { eventCategory: 'Navabar', eventAction: 'Click', eventLabel: 'Media'});">Media</a>
            </div>

        </div>
        

    </nav>

