 
    {!-- Nav bar start --}
    <div id="nav-bar">
        <div id="navContainer" class="auto-container flex nav-container">
            <img src="/assets/images/logos/hdlogo.png">
            <div class="nav-links flex">
                <a href="/services" onClick="ga('send', 'event', { eventCategory: 'Navabar', eventAction: 'Click', eventLabel: 'Our Services'});">Our Services</a>
                <a href="/events"  onClick="ga('send', 'event', { eventCategory: 'Navabar', eventAction: 'Click', eventLabel: 'Events'});">Events</a>
                <a href="/gallery"  onClick="ga('send', 'event', { eventCategory: 'Navabar', eventAction: 'Click', eventLabel: 'Gallery'});">Gallery</a>
                <a href="/contact"  onClick="ga('send', 'event', { eventCategory: 'Navabar', eventAction: 'Click', eventLabel: 'contact'});">Contact Us</a>
                <a href="http://www.facebook.com/IntersonicProductions
" target="_blank" onClick="ga('send', 'event', { eventCategory: 'Navabar', eventAction: 'Click', eventLabel: 'Facebook'});"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/intersonicproductions" target="_blank" onClick="ga('send', 'event', { eventCategory: 'Navabar', eventAction: 'Click', eventLabel: 'Instagram'});"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UCxz0kfTbLrCDE3vAA7b2sLw" target="_blank" onClick="ga('send', 'event', { eventCategory: 'Navabar', eventAction: 'Click', eventLabel: 'Youtube'});"><i class="fab fa-youtube"></i></a>
            </div>

            {!-- Mobile Nav Start --}
            <div class="mobnav">
                <a><i class="fas fa-bars"></i></a>
                <div id="mob-nav-links" class="moblinks">
                <ul>
                    <li><a class="navHov">Our Services</a></li>
                    <li><a class="navHov">Events</a></li>
                    <li><a class="navHov">gallery</a></li>
                    <li><a class="navHov">Contact Us</a></li>
                </ul>
                </div>
            </div>
            {!-- Mobile Nav End --}
            
        </div>
    </div>
    {!-- Nav bar end --}

   